/my-projects/HelloBundle/build/
/my-projects/HelloBundle/dist/
/my-projects/HelloBundle/nbproject/private/
/my-projects/UpdateMnagementAgent/build/
/my-projects/UpdateMnagementAgent/dist/
/my-projects/UpdateMnagementAgent/nbproject/private/
/felix-cache/